<link rel="stylesheet" href="/css/template.css" />
<link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/dplayer/1.9.1/DPlayer.min.css">
<link
  href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css"
  rel="stylesheet"
/>
<link
  rel="icon"
  type="image/x-icon"
  href="https://static.iiter.cn/v.iiter.cn.ico"
/>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/hls.js/0.14.16/hls.min.js"></script>
<script src="https://cdn.bootcdn.net/ajax/libs/dplayer/1.9.1/DPlayer.min.js"></script>
<script src="/layer/layer.js"></script>
<script src="/js/common.js"></script>
<script type="text/javascript" src="//js.users.51.la/20990225.js"></script>
