<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{{ name + "在线播放 - 艾特影视资源网" }}</title>
    <meta name="keywords" content={{name + "," + name + "资源," + name +
    "1080P高清资源," + name + "高清资源," + name + "在线播放" +
    ",艾特网,艾特影视,艾特资源采集,在线电影资源,影视资源采集,影视采集,全网影视资源,影视资源站,在线影视,在线影院"}}
    />
    <meta
      name="description"
      content="艾特影视资源网是一个集影视采集播放于一身的资源网站"
    />
    {% include '../layouts/static.html' %}
  </head>

  <body>
    <!-- 导航栏 -->
    {% include '../layouts/header.html' %}
    <!-- 详情信息 -->
    <div class="container">
      <div class="row cover-box">
        <div class="col-md-3">
          <img src="{{imagePic}}" class="card-img" alt="" />
        </div>
        <div class="col-md-5">
          <div class="card-body">
            <h5 class="card-title">{{name}} <span>{{playGrade}}</span></h5>
            <p class="card-text">
              <small class="text-muted">评分：{{score}}</small>
            </p>
            <p class="card-text">
              <small class="text-muted">别名：{{otherName}}</small>
            </p>
            <p class="card-text">
              <small class="text-muted">导演：{{daoyan}}</small>
            </p>
            <p class="card-text">
              <small class="text-muted">主演：{{zhuyan}}</small>
            </p>
            <p class="card-text">
              <small class="text-muted">类型：{{type}}</small>
            </p>

            <p class="card-text">
              <small class="text-muted">地区：{{place}}</small>
            </p>
            <p class="card-text">
              <small class="text-muted">语言：{{language}}</small>
            </p>
            <p class="card-text">
              <small class="text-muted">上映：{{showTime}}</small>
            </p>
            <p class="card-text">
              <small class="text-muted">更新时间：{{updateTime}}</small>
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <p class="card-text">
              <small class="text-muted">简介：{{introduce}}</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- 视频播放器 -->
    <div class="container video-container">
      <div class="row video-play" id="video-play"></div>
    </div>
    <!-- 播放列表 -->
    <div class="container play-list">
      <h5>播放列表</h5>
      <!-- <div class="row list-container"> -->
      <div
        class="row list-container btn-group play-list-box"
        role="group"
        aria-label="First group"
      >
        {% for item in playInfo%}
        <button
          type="button"
          class="btn btn-secondary"
          data-src="{{item.grade + '$' + item.url}}"
        >
          {{item.grade}}
        </button>
        {% endfor %}
        <!-- </div> -->
      </div>
    </div>
    <!-- 下载列表 -->
    <div class="container">
      <h5>下载列表</h5>
      <p>
        <a href="javascript:;" class="badge badge-info copy-all"
          >复制全部名称+链接</a
        >
        <a href="javascript:;" class="badge badge-dark copy-all-link"
          >复制全部链接</a
        >
      </p>
      <div class="row">
        <ul class="list-group list-group-flush download-list">
          {% for item in downloadInfo%}
          <li class="list-group-item">
            <small class="text-muted">{{item.grade + "$" + item.url}}</small>
            <a href="javascript:;" class="badge badge-success copy-one-link"
              >复制链接</a
            >
            <a href="javascript:;" class="badge badge-success copy-one-all"
              >复制全部</a
            >
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- 底部 -->
    {% include '../layouts/footer.html' %}
  </body>
</html>
<script src="/js/details.js"></script>
