<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>艾特影视资源网-全网影视采集站</title>
    {% include './layouts/static.html' %}
    <link rel="stylesheet" href="css/index.css" />
  </head>
  <body>
    <div class="container index-container">
      <div class="row head-row">
        <h3>艾特影视资源网-在线搜索</h3>
        <a href="javascript:;" class="badge badge-dark">beta</a>
      </div>
      <div class="row search-row">
        <div class="form-inline">
          <input
            class="form-control mr-sm-2 search-input"
            type="search"
            placeholder="请输入搜索内容......"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0 search-btn">
            搜索
          </button>
        </div>
      </div>
    </div>
    {% include './layouts/footer.html' %}
  </body>
</html>
