<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>搜索结果 - 《{{keyword}}》</title>
    <meta
      name="keywords"
      content="艾特网,艾特影视,艾特资源采集,在线电影资源,影视资源采集,影视采集,全网影视资源,影视资源站,在线影视,在线影院"
    />
    <meta
      name="description"
      content="艾特影视资源网是一个集影视采集播放于一身的资源网站"
    />
    {% include './layouts/static.html' %}
  </head>

  <body>
    <!-- 导航栏 -->
    {% include './layouts/header.html' %}
    <div class="container">
      {% if list.length %}
      <strong
        >已为您找到
        <span class="search-keywords">《{{keyword}}》</span> 以下结果：</strong
      >
      {% else %}
      <h3 class="no-list">找不到任何信息，建议换个关键字试试啦</h3>
      {% endif %}

      <div class="row">
        <ul class="list-group list-group-flush">
          {% for key,item in list%}
          <li class="list-group-item">
            <small class="text-muted" data-src="{{item.url}}"
              >{{key + 1}}.</small
            >
            <small class="text-muted" data-src="{{item.url}}"
              >{{item.name}}</small
            >
            {% if item.status %}
            <a
              href="{{'zuidazy/' + item.id}}"
              class="badge badge-success"
              >在线播放</a
            >
            <a
              href="javascript:;"
              data-src="{{item.id}}"
              class="badge badge-success update-btn"
              >更新</a
            >

            {% else %}
            <a
              href="javascript:;"
              class="badge badge-warning collection-btn"
              data-src="{{item.id}}"
              >采集并播放</a
            >

            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- 底部 -->
    {% include './layouts/footer.html' %}
  </body>
</html>
<script src="js/collection.js"></script>
