<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>沉默的真相 - 哎呦影视采集站</title>
    <link rel="stylesheet" href="/css/template.css" />
    <link
      href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <!-- 导航栏 -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >首页 <span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://iiter.cn">艾特网</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://iiter.cn">薅羊毛</a>
          </li>
        </ul>
        <form class="form-inline">
          <input
            class="form-control mr-sm-2"
            type="search"
            placeholder="请输入搜索内容......"
            aria-label="Search"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
          </button>
        </form>
      </div>
    </nav>
    <!-- 详情信息 -->
    <div class="container">
      <div class="row cover-box">
        <div class="col-md-3">
          <img
            src="https://tu.tianzuida.com/pic/upload/vod/2020-09-16/202009161600256293.jpg"
            class="card-img"
            alt=""
          />
        </div>
        <div class="col-md-5">
          <div class="card-body">
            <h5 class="card-title">沉默的真相 <span>12集全</span></h5>
            <p class="card-text">
              <small class="text-muted">评分：7.2</small>
            </p>
            <p class="card-text">
              <small class="text-muted">别名：长夜难明</small>
            </p>
            <p class="card-text">
              <small class="text-muted">导演：陈奕甫</small>
            </p>
            <p class="card-text">
              <small class="text-muted"
                >主演：廖凡,白宇,谭卓,宁理,赵阳,黄尧,田小洁,吕晓霖</small
              >
            </p>
            <p class="card-text">
              <small class="text-muted">类型：国产剧 悬疑 犯罪</small>
              <small class="text-muted">地区：大陆</small>
              <small class="text-muted">语言：国语</small>
              <small class="text-muted">上映：2020</small>
            </p>

            <p class="card-text">
              <small class="text-muted">地区：大陆</small>
            </p>
            <p class="card-text">
              <small class="text-muted">语言：国语</small>
            </p>
            <p class="card-text">
              <small class="text-muted">上映：2020</small>
            </p>
            <p class="card-text">
              <small class="text-muted">更新时间：2020-09-19 00:45:28</small>
            </p>
          </div>
        </div>
        <div class="col-md-4">播放按钮</div>
      </div>
    </div>
    <!-- 介绍 -->
    <div class="container">
      <div class="row plot">
        <p class="card-text">
          <small class="text-muted"
            >嫌疑人杀人抛尸，却因意外在大庭广众之下被当场抓获。现场至少有几百个目击证人，嫌疑人对整个犯罪经过也供认不讳。
            人证、物证、口供，证据链齐全。就在检察机关对嫌疑人正式提起公诉之时，案情却陡然生变……
            这背后究竟隐藏着怎样令人震惊的案情？为了查清真相，有一位检察官历经十年光阴，付出了青春、事业、名声、前途、家庭等等无数代价，甚至，还包括生命。</small
          >
        </p>
      </div>
    </div>
    <!-- 视频播放器 -->
    <div class="container">
      <div class="row video-play">此处加载视频播放器</div>
    </div>
    <!-- 播放列表 -->
    <div class="container play-list">
      <div class="row">
        <h5>播放列表</h5>
      </div>
      <div class="row">
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="javascript:;">m3u8类型</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:;">普通类型</a>
          </li>
        </ul>
      </div>
      <div class="row list-container">
        <div class="btn-group mr-2" role="group" aria-label="First group">
          <button type="button" class="btn btn-secondary active">第1集</button>
          <button type="button" class="btn btn-secondary">第2集</button>
          <button type="button" class="btn btn-secondary">第3集</button>
          <button type="button" class="btn btn-secondary">第4集</button>
        </div>
      </div>
    </div>
    <!-- 下载列表 -->
    <div class="container download-list">
      <div class="row">
        <h5>下载列表</h5>
      </div>
      <div class="row">
        <div class="list-group">
          <button
            type="button"
            class="list-group-item list-group-item-action active"
          >
            第一集
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            第一集
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            第一集
          </button>
          <button type="button" class="list-group-item list-group-item-action">
            第一集
          </button>
          <button
            type="button"
            class="list-group-item list-group-item-action"
            disabled
          >
            第一集
          </button>
        </div>
      </div>
    </div>
  </body>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
</html>
