html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  box-sizing: border-box;
}

.index-container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: none;
}

.index-container .head-row {
  display: flex;
  align-items: center;
}

.index-container .search-row {
  width: 100%;
}

.index-container .search-row .form-inline {
  width: 100%;
  display: flex;
  justify-content: center;
}

.index-container .search-row .form-inline .search-input {
  width: 40%;
}

.index-container .search-row .form-inline .search-btn {
  width: 10%;
}
