body .nav-container {
  padding: 0;
}

.container {
  padding: 1rem 0;
  border-radius: .5rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px rgba(153, 153, 153, 0.2);
}

.container .row {
  padding: .5rem 1rem;
  box-sizing: border-box;
}

.container .cover-box .card-text {
  margin-bottom: 0.05rem;
}

.container .cover-box .col-md-3 {
  display: flex;
  align-items: center;
}

.container .cover-box .col-md-3 .card-img {
  width: 11rem;
}

.container .cover-box .col-md-4 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.container .video-play {
  width: 100%;
  height: 100%;
}

.container .search-keywords {
  color: red;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
}

.list-container button {
  margin-bottom: 10px;
  border-radius: 0;
}

.footer {
  padding: 0.5rem 0;
  background: #222;
  border-radius: 0;
  margin: 0;
}

.footer p {
  text-align: center;
  font-size: 12px;
  margin: 0;
}

.footer p span {
  text-decoration: underline;
  cursor: pointer;
}

.no-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
