body .nav-container {
  padding: 0;
}
.container {
  padding: 1rem 0;
  border-radius: .5rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 5px rgba(153, 153, 153, 0.2);

  .row {
    padding: .5rem 1rem;
    box-sizing: border-box;
    // border-radius: 0.5rem;
    // box-sizing: border-box;
  }

  .cover-box {
    .card-text {
      margin-bottom: 0.05rem;
    }

    .col-md-3 {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      .card-img {
        width: 11rem;
      }
    }

    .col-md-4 {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }

  .video-play {
    min-height: 30rem;
  }
}
